* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root {
    --watergreen1: #55B49E;
    --watergreen2: #63BBA6;
    --gray1: #ffffff80;
    --gray2: #f7d9d990;
    --black1: #1a1b1f;
    --black2: #30353b;
    --color_shadow: #00000033;
    --white: #f4f4f4;
}

body {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
}
.container {
    width: 90%;
    max-width: 75rem;
    margin: 1.25rem auto;
    overflow: hidden;
}
.point {
    font-weight: 700;
    color: var(--watergreen2);
    font-size: 1.5rem;
}
img {
    object-fit: cover;
}
.gold-button {
    background: linear-gradient(
        var(--watergreen2) 0%,
        var(--watergreen2) 30%,
        var(--watergreen1) 60%,
        var(--watergreen1) 100%
    );
    border-radius: 0.375rem;
    padding: 1.25rem 1.875rem;
    max-width: 12.1875rem;
    margin-top: 0.75rem;
    text-decoration: none;
    font-weight: 700;
    color: var(--white);
    text-align: center;
}

/* ================================================================= */
/* HEADER */
/* ================================================================= */
/* Header nav */
.header {
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
}
.header__nav {
    margin: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 1px var(--gray1);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
}
/* ================================================================= */
/* Logo */
.logo {
    order: 1;
    display: flex;
    align-items: center;
}
.logo h2 {
    color: #fff;
    font-weight: 700;
    font-size: 1.6875rem;
    letter-spacing: 0.0625rem;
}

/* ================================================================= */
/* Links */
.links__container {
    order: 10;
    display: flex;
    align-items: center;
}
.links__container a {
    font-weight: 300;
    margin: 0 0.9375rem;
    text-decoration: none;
    color: #fff;
}
.links__container > .link--active {
    font-weight: 700;
    margin: 0 0.9375rem;
    text-decoration: none;
    color: var(--watergreen1);
}
/* ================================================================= */

/* ================================================================= */
/* Header main */
/* ================================================================= */

/* ================================================================= */
/* Header main */
.header__main {
    width: 100%;
    height: 100vh;
}
.header__main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 4.375rem);
}
.text-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* ============================== */
/* Title */
.text-header__title {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 300;
    height: 30%;
}
.text-header__title small {
    font-size: 3.6rem;
    color: var(--watergreen1);
    font-weight: 700;
}
/* ============================== */
/* Text */
.text-header__text {
    margin-top: 0.5rem;
    color: var(--gray1);
    font-size: 1.5rem;
    height: 10%;
}
.text-header__text--active {
    font-weight: 700;
}
/* ============================== */
/* ============================== */
/* Image */
.header__main img {
    max-height: 90vh;
    width: 48%;
}

/* ============================== */
/* MAIN */
/* ============================== */

/* SERVICES */
.services {
    margin-bottom: 10.625rem;
}
/* Text MAIN */
.text-main {
    margin: 6.25rem 0 3.75rem;
}
/* ============================= */
/* Text main - subtitle */
.subtitle {
    font-size: 2.8125rem;
}
.subtitle .point {
    font-size: 2.8125rem;
}
/* ============================= */
/* Text main - text */
.text-main__text {
    font-size: 1.375rem;
}
/* ============================= */

/* ============================= */
/* Cards MAIN */
/* Cards main - container */
.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* ============================= */
/* Cards main - card */
.card {
    width: 30%;
    min-width: 15.625rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(var(--black2) 0%, var(--black1) 100%);
    border-radius: 0.625rem;
    position: relative;
    overflow: hidden;
}
/* ============================= */
/* Cards main - card image */
.card__image {
    display: flex;
    flex-wrap: wrap;
}
/* Cards main - card text subtitle */
.card__text-subtitle {
    color: var(--watergreen2);
    font-size: 1.125rem;
    font-weight: 700;
}

/* Cards main - card text */
.card__text {
    width: 90%;
    margin: 0 auto 2.5rem;
}
/* Cards main - card text title */
.card__text-title {
    margin: 0.75rem 0;
    color: #f4f4f4;
    text-align: left;
    font-size: 2.5rem;
}
/* Cards main - card text text */
.card__text-text {
    color: var(--gray2);
    text-align: left;
    margin-bottom: 1.875rem;
}
/* Cards main - card button */
.card__button {
    padding: 0.75rem 1.875rem;
    overflow: hidden;
}

/* Cards - SERVICES */
.card__image-services {
    display: flex;
    margin: 1.875rem 0 1.25rem 0.8438rem;
}
.card__image-services img {
    width: 100%;
    border-radius: 0.625rem 0 0 0.625rem;
    max-height: 12.5rem;
}
/* Cards - PROJECTS */
.card__text-subtitle-projects {
    margin-bottom: 1.25rem;
}

/* Cards - card container PROJECTS */
.card-container-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 17.5rem);
    grid-row-gap: 3.75rem;
    grid-column-gap: 1.25rem;
    height: 39.375rem;
}
/* PROJECTS */
.projects {
    margin-bottom: 10rem;
}
/* Cards - card image PROJECTS */
.card-image-projects {
    grid-column: 2 span;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #f4f4f4;
    display: flex;
    align-items: flex-end;
    padding: 1.875rem 0.9375rem;
    border-radius: 0.625rem;
}
.card-image-projects span {
    font-size: 1.5625rem;
    font-weight: 700;
    display: block;
    margin-bottom: 0.1875rem;
}

/* Cards - card image1 */
.card-image1 {
    background-image: url(../img/background1.jpg);
}
.card-image2 {
    background-image: url(../img/background2.jpg);
}

/* CLIENTS */
/* Cards - card container CLIENTS */
.card-container-clients {
    height: 31.25rem;
}
/* Cards - cards CLIENTS */
.card-clients {
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1.25rem;
}
.card-clients1 {
    background-image: url(../img/first-person.jpg);
}
.card-clients2 {
    background-image: url(../img/second_person.jpg);
}

/* Cards - cards (1 and 2) box text */
.card-clients__box-text {
    height: 25%;
    width: 90%;
    border-radius: 0.625rem;
    padding: 0.625rem;
    background: linear-gradient(var(--black2) 0%, var(--black1) 100%);
    display: grid;
    grid-template-columns: 50px auto;
    grid-column-gap: 10px;
}
.card-clients__box-text i {
    grid-row: 2 span;
    text-align: center;
    align-self: center;
    font-size: 40px;
    color: #f4f4f4;
}
.box-text--subtitle {
    color: #f4f4f4;
    font-size: 24px;
    text-align: left;
}
.box-text--text {
    color: var(--gray1);
}
/* Cards - card3 */
.card-clients3 {
    justify-content: space-between;
    padding: 3.125rem 0.9375rem 2.5rem;
}
/* Google brand */
.card-clients3__image-text img {
    object-fit: cover;
    object-position: center;
    margin-bottom: 1.25rem;
}
/* Card text text */
.card-clients3__image-text p {
    color: #f4f4f4;
    font-weight: 200;
    font-size: 1.25rem;
}
/* Card3 - Textbox */
/* Box text*/
.card-clients__box-text--active {
    width: 100%;
    background: transparent;
}
/* Box image */
.card-clients__box-text--active img {
    grid-row: 2 span;
    align-self: center;
    object-fit: cover;
    object-position: top;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
/* CONTACT*/
.contact {
}
/* Container CONTACT */
.container--active {
    width: 70%;
    max-width: 75rem;
    margin: 6.25rem auto 11.25rem;
    overflow: hidden;
}
.text-main--active {
    text-align: center;
    margin-bottom: 12px;
}

.text-main__text--active {
    margin-top: 1.25rem;
}
.success {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.25rem;
    width: 90%;
    margin: 0 auto .9375rem;
}
.success__box {
    flex: 1;
    display: flex;
    align-items: center;
    height: 60%;
    padding: 0 1.25rem;
}
.success__box:first-child,
.success__box:nth-child(2) {
    border-right: 2px solid var(--black2);
}
.success__box i {
    font-size: 3.125rem;
    margin-right: 0.9375rem;
}
/* Box text bold */
.success__box-text-bold {
    font-weight: 700;
    font-size: 1.05rem;
}
/* Form */
.form-contact {
    height: 62px;
    margin: 0 auto;
    width: 50%;
    display: flex;
    border: 1px solid var(--black2);
    border-radius: 0.3125rem;
    justify-content: space-between;
    padding: 0.3125rem 0.4375rem;
}
.form-contact__input {
    border: 0;
}
.form-contact__button {
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    padding: 10px;
    color: #f4f4f4;
    font-weight: 700;
    border-radius: 0.3125rem;
    border: 0;
}
/* INFORMATION */
/* ============================== */
.information {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6.25rem;
}
.information-title {
    font-size: 1.5rem;
    margin-bottom: 1.875rem;
    text-align: center;
}
/* APP */
.downloads {
    display: flex;
    justify-content: space-between;
    height: 3.875rem;
}
.stores {
    width: 47%;
    border-radius: 0.3125rem;
    border: 1px solid var(--black2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 700;
    background-color: transparent;
    margin-bottom: 1.25rem;
}
.stores i {
    font-size: 2.5rem;
}
/* Copyright */
.copyright {
    margin: 0.75rem 0;
}
/* Anchors - Privacy Policy and Terms of Conditions*/
.app a {
    color: var(--black2);
    text-decoration: none;
    text-shadow: 0 2px 3px var(--color_shadow);
}
.app a:hover {
    text-decoration: underline;
    text-shadow: none;
}
/* JOIN US */
.form-contact-information {
    width: 90%;
}
.follow-us {
    margin: 1.25rem 0;
    display: flex;
    justify-content: space-evenly;
}
.follow-us a {
    color: var(--black2);
    font-size: 1.1rem
}

/* ============================== */
/* FOOTER */
/* ============================== */

/* FOOTER CONTACT */
/* ============================== */
.footer__contact {
    display: flex;
    height: 9.375rem
}
.footer__contact-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--black2) 0%, var(--black1) 100%);
    color: #f4f4f4;
    font-weight: 700;
}
.footer__contact-box i {
    color: var(--watergreen1);
}
.footer__contact-button {
    background: linear-gradient(var(--watergreen2) 0%, var(--watergreen1) 100%);
    color: var(--black2)
}
.footer__contact-button i {
    color: var(--black2)

}